.main-header {
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0px 10px -14px 14px #FFF;

}
.logo {
  max-width: 80px;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;

}
.swiper-pagination-bullet,.swiper-pagination-bullet-active{
  background: #ffff;
}
.swiper-pagination-bullet{
  opacity: 0.5;
}
.swiper-pagination-bullet-active{
  opacity: 1;
}
.contact-btn{
  font-weight: 500;
  background-color: red;
  border-color: red;
  border-radius: 30px;
  padding: 15px;

}

.washing, .cards, .plan{
  padding: 100px 0;
}
.subtitle{
  color:red;
  font-size: 25px;
}
.washing .subtitle{
  padding-left: 95px;
}
.washing .subtitle::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 80px;
  height: 1px;
  background-color: red;
}

.washing .h3 {
  padding-top: 20px;
  font-weight: 900;
}
.washing .contact-btn{
  margin-top: 30px;
}
.washing .details{
  padding-top: 10px;
  color:rgb(243, 242, 242);
}
.cards .card_icon{
  max-width: 150px;
}
.choose_plan{
  max-width: 700px;
}
.plan .card{
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.1);
}
.plan .card_content ul{
  max-width: 50%;
}

.h3{
  font-size: 40px;
  line-height: 1.2;
  color:rgb(243, 242, 242);

}

.h6{
  font-size: 20px;
  line-height: 1.2;
  color:rgba(228, 0, 0, 0.911);
}